@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* Global Pointer Cursor */
button, select, a, [role="button"], input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}
